<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Инвентаризационная панель</title>
	<link rel="stylesheet" type="text/css" media="all"
		  href="/static/css/inv.css" th:href="@{/css/inv.css}" />

</head>

<body>


<p class="p_zag">На складе</p>

<table class="table" >
	<thead>
		<tr>
			<th scope="col">Код объекта</th>
			<th scope="col">Название</th>
			<th scope="col">Серийный номер</th>
			<th scope="col">Инвентарный номер</th>
			<th scope="col">Состояние</th>
			<th scope="col">Примечание</th>
		</tr>
	</thead>
	<tbody>
	<tbody>
	<tr th:each="store : ${store}">
		<td th:text="${store.id}"></td>
		<td th:text="${store.name}"></td>
		<td th:text="${store.ser}"></td>
		<td th:text="${store.inv}"></td>
		<td th:text="${store.Action}"></td>
		<td th:text="${store.note}"></td>
	</tr>
	</tbody>

</table>
	<div>
		<p style="text-align:center"><a href="#AddItem"><input name="delivery_office" type="button" value="Добавить" class="btn" /></a>
			</p>
	</div>
	<div id="AddItem" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Добавить элемент</h3>
					<a href="#close" title="Close" class="close">×</a>
				</div>
				<div class="modal-body">
					<form action="/AddItem" method="post">
						<ul  style=" list-style-type: none; ">
							<li>Название</li>
							<li><textarea id="name_add" name="name"></textarea></li>
							<li>Серийный номер</li>
							<li><textarea id="ser_add" name="ser" ></textarea></li>
							<li>Инвентарный номер</li>
							<li><textarea id="inv_add" name="inv" ></textarea></li>


							<li><input type="submit"></li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
<p style="text-align:center">&nbsp;</p>

<p class="p_zag">В офисе</p>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Код объекта</th>
			<th scope="col">Название</th>
			<th scope="col">Серийный номер</th>
			<th scope="col">Инвентарный номер</th>
			<th scope="col">Дата выдачи</th>
			<th scope="col">Состояние</th>
			<th scope="col">Примечание</th>
		</tr>
	</thead>
	<tbody>
	<tr th:each="office : ${office}">
		<td th:text="${office.id}"></td>
		<td th:text="${office.name}"></td>
		<td th:text="${office.ser}"></td>
		<td th:text="${office.inv}"></td>
		<td th:text="${office.Date}"></td>
		<td th:text="${office.Action}"></td>
		<td th:text="${office.note}"></td>
	</tr>
	</tbody>
</table>
	<div>
	<p style="text-align:center"><a href="#vidof"><input name="delivery_office" type="button" value="Выдать" class="btn" /></a>
	<a href="#verof"><input name="Take_office" type="button" value="Вернуть" class="btn" /></a></p>
	</div>
	<div id="vidof" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Выдать в офис</h3>
					<a href="#close" title="Close" class="close">×</a>
				</div>
				<div class="modal-body">
					<form th:action="@{/VidOfc}" th:object="${officeForm}" method="post">
						<ul  style=" list-style-type: none; ">
							<li>Код объекта</li>
							<li><input type="text" id="inv_vidof" name="inv"  th:field="*{id}" required minlength="1" maxlength="8" size="10" /></li>
							<li>Примечание</li>
							<li><textarea id="note_vidof" name="note"  th:field="*{note}"></textarea></li>
							<li><input type="submit"></li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="verof" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Вернуть из офиса</h3>
					<a href="#close" title="Close" class="close">×</a>
				</div>
				<div class="modal-body">
					<form  th:action="@{/VerOfc}" th:object="${officeForm}" method="post">
						<ul  style=" list-style-type: none; ">
							<li>Код объекта</li>
							<li><input type="text" id="inv_verof" name="inv" th:field="*{id}" required minlength="1" maxlength="8" size="10" /></li>
							<li>Состояние</li>
							<li><textarea id="action_VerOfc" name="action" th:field="*{Action}"></textarea></li>
							<li>Примечание</li>
							<li><textarea id="note_verof" name="note" th:field="*{note}"></textarea></li>
							<li><input type="submit"></li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
	<p class="p_zag">На руках</p>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Код объекта</th>
			<th scope="col">Название</th>
			<th scope="col">Серийный номер</th>
			<th scope="col">Инвентарный номер</th>
			<th scope="col">Дата выдачи</th>
			<th scope="col">Предпологаемая дата возврата</th>
			<th scope="col">Состояние</th>
			<th scope="col">Примечание</th>
		</tr>
	</thead>
	<tbody>
	<tr th:each="outside : ${outside}">
		<td th:text="${outside.id}"></td>
		<td th:text="${outside.name}"></td>
		<td th:text="${outside.ser}"></td>
		<td th:text="${outside.inv}"></td>
		<td th:text="${outside.delv}"></td>
		<td th:text="${outside.take}"></td>
		<td th:text="${outside.Action}"></td>
		<td th:text="${outside.note}"></td>
	</tr>
	</tbody>
</table>

	<div>
		<p style="text-align:center"><a href="#vidout"><input name="delivery_worker" type="button" value="Выдать" class="btn" /></a>
	<a href="#vernut"><input name="delivery_worker" type="button" value="Вернуть" class="btn" /></a></p>
	</div>

<div id="vidout" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Выдать на руки</h3>
				<a href="#close" title="Close" class="close">×</a>
			</div>
			<div class="modal-body" >


				<form action="#" th:action="@{/VidOut}" th:object="${outsideFull}" method="post">
					<ul  style=" list-style-type: none; ">
						<li>Код объекта</li>
						<li><input type="text" th:field="*{id}" required minlength="1" maxlength="8" size="10" /></li>
						<li>Предполагаемая дата возврата</li>
						<li><input type="date" id="date" name="date" th:field="*{take}"  /></li>
						<li>Примечание</li>
						<li><textarea id="note_vidout" name="note" th:field="*{note}"></textarea></li>
						<li><input type="submit"></li>
					</ul>
				</form>

			</div>
		</div>
	</div>
</div>
<div id="vernut" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Вернуть с рук</h3>
				<a href="#close" title="Close" class="close">×</a>
			</div>
			<div class="modal-body">
				<form action="#" th:action="@{/VerOut}" th:object="${outsideFull}" method="post">
					<ul  style=" list-style-type: none; ">
						<li>Код объекта</li>
						<li><input type="text" id="inv_vernut" name="inv" th:field="*{id}"  size="10" /></li>
						<li>Состояние</li>
						<li><textarea id="action_vernut" name="action" th:field="*{Action}"></textarea></li>
						<li>Примечание</li>
						<li><textarea id="note_vernut" name="note" th:field="*{note}"></textarea></li>
						<li><input type="submit"></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>



</body>
</html>
